{%extends "academicDomain.html"%}
{% block contents %}
<style>
    .card-header{
        background-color:;
    }

    .alert.error {
       background-color: #cf534e;
       color : white;
}

</style>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {{ category }}"> {{ message|capitalize }} </div>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="mx-5">
    <div class="card">
        <div class = "card-header">
            <h1><b>CLASS ADD</b></h1>
        </div>
        <div class="card-body">
            <form action="" method="post"  class="form">


                <div class ="row">
                    <div class="form-group col-md-6">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                            </div>
                            <input type="text" name="class_name" class="form-control"  placeholder="ENTER CLASS NAME"/>

                        </div>


                    </div>

                     <div class="form-group  col-md-3 ">
                        <select class="form-select" aria-label="Default select example"  name="category_select">
                            <option value="N" selected>SELECT ONE..</option>
                            {% for res in result_category %}
                               <option value={{res[2]}}>{{ res[0] }}</option>

                            {% endfor %}


                        </select>

                    </div>


                     <div class="form-group  col-md-3 ">
                        <select class="form-select" aria-label="Default select example"  name="status">
                            <option value="1" selected>Active</option>
                            <option value="0">DeActive</option>

                        </select>

                    </div>

                </div>

                <div class="row float-right">

                    <div class="text-center ">
                        <button type="submit" class="btn btn-primary">ADD</button>
                    </div>
            </form>
                 </div>


        </div>

    </div>



             <table id=""country_data" class="table">
                <thead class = "thead-dark">
                    <tr>
                         <th scope="col">CLASS NAME</th>
                         <th scope="col">CATEGORY</th>


                         <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in result %}
                         <tr>
                            <th scope="row">{{res[0]}}</th>
                            <th scope="row">{{res[2]}}</th>


                            {% if res[1] == 1 %}
                               <td >Active</td>
                            {% else %}
                               <td >Deactive</td>

                             <td>  </td>

                            {% endif %}

                          </tr>


                    {% endfor %}
                </tbody>



             </table>
</div>

{% endblock %}